@media screen and (max-width: 1420px) {
    .breadcrumbs {
        width: 990px;
    }
}
@media screen and (max-width: 1090px) {
    .breadcrumbs {
        width: 723px;
    }
}
@media screen and (max-width: 768px) {
    .breadcrumbs {
        width: 340px;
    }
}