@media screen and (max-width: 1420px) {
    .text {
        width: 990px;
    }
}

@media screen and (max-width: 1090px) {
    .text {
        width: 723px;
    }
}

@media screen and (max-width: 768px) {
    .text {
        width: 340px;
    }
    .text__list-item {
        margin-bottom: 5px;
    }
}